<% provide(:title, 'Home') %>
<div class="jumbotron">
  <div class="container">
    <h1 class="text-center">Developer</h1>
    <ul class="list-inline text-center">
      <li>Computer Programmer</li>|
      <li>Embedded Systems Tinkerer</li>|
      <li>Security Expert Wannabe</li>|
      <li>Part-time Open Source Advocate</li>|
      <li>Full-time Nerd</li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h3 class="text-center">Hello internet stranger! Welcome to my humble abode on the internet!</h3><br/>
      <p>I'm LA, a humble Software Developer / Embedded Systems hobbyist trying to keep up with the intense evolution of the world's technology stack. I'm currently a Full-stack PHP developer for <a href="https://express.yilinker.com/">Yilinker Express</a>, a courier delivery platform under the <a href="https://www.yilinker.com/">Yilinker</a> company umbrella where I'm part of the core development team tasked on designing and implementing the ever-changing requirements and features of the platform.</p>

      <p>On the side, I play CS:GO, come up with stupid ideas for a startup, find out whether it's the software or the hardware's fault on my failing mini projects, encrypt anything that is encryptable (and sometimes forget the passkey) and run around when my bottom hurts from sitting all day.</p>

      <p>Have a project in mind? Need an extra pair of hands on your repo? Just drop me a line and let's see what we can do together!</p>

    </div>
    <div class="col-md-2"></div>
  </div>
</div>
