<% provide(:title, 'About') %>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1><strong>More About Me</strong><small> (Yes, more) </small></h1>
      <p>I was born in the year 1992 and has been an inquisitive little bugger since then. I enjoy taking things apart and discovering how they work or taking a peek inside the hood of a framework to demystify the seemingly arcane arts that power it. On my spare time, I like to lurk on Reddit and post dank memes, play DnD 5e with a poorly role-played Wood-Elf Ranger, bunny hop (and fail miserably) my way around Dust_2 in CS:GO and discover something new everyday whether it be a TIL type of trivia or a new programming language. I'm a sucker for anything Star Wars and have been an avid follower of the series from the movies, print, games and the occasional TV Series. I am eternally curious about the masterful art of programming which brings me to work on little pet projects which (I hope) improves my skills further.</p>
    </div>
    <div class="col-md-2"></div>
  </div>
  <hr class="dashed">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1><strong>Education</strong><small> (Street Creds) </small></h1>
      <p>I went to <abbr title="De La Salle University" class="initialism">DLSU</abbr> for my Bachelor's Degree in Computer Engineering which was made possible through a generous 100% tuition coverage scholarship provided by the University (for which I'm deeply grateful). Had not the scholarship been granted, plan B was to go to <abbr title="University of the Philippines" class="initialism">UP</abbr> instead. I was able to graduate with distinction (<a href="https://en.wikipedia.org/wiki/Latin_honors">cum laude</a>) and an <em>Outstanding Undergraduate Thesis Award</em> to boot. Our paper was entitled <em>Implementation of Speed and Torque Control on Quadrotor Altitude and Attitude Stability</em> which was published on <a href="http://www.ejournals.ph/index.php?journal=MJS&page=article&op=view&path%5B%5D=8069">The Manila Journal of Science</a> and the <a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?tp&arnumber=7064345&queryText%3Dmagsino">13<sup>th</sup> International Conference on Control Automation Robotics and Vision (ICARCV)</a>. I was sort of active with regards to organizations within the University from which I once held the position <abbr title="Assistant Vice President" class="initialism">AVP</abbr> for Academics under the <abbr title="Association of Computer Engineering Students" class="initialism">ACCESS</abbr> organization. We were in-charge of providing academic support for my fellow Computer Engineering peers which includes me being a speaker/instructor on seminars planned by our committee such as beginner and advanced programming, embedded systems tutorials (prototyping and coding) and many more.</p> 
    </div>
    <div class="col-md-2"></div>
  </div>
  <hr class="dashed">
  <!-- I'm not particularly skilled at HTML as you can see below -->
  <div class="row skills-list">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1><strong>Skills</strong><small> (Utility Belt) </small></h1>
      <ul class="list-unstyled">
        <li>
          <h2>Hardware</h2>
          <ul>
            <li class="list-unstyled">
              <h3>Digital Circuits Design</h3>
              <ul>
                <li>Prototyping, PCB Implementation</li>
              </ul>
            </li>
            <li class="list-unstyled">
              <h3>Embedded Systems Development</h3>
              <ul>
                <li>Platform-specific (Arduino, RaspberryPI, Cubieboard),<br/>Microcontrollers (Atmel, Microchip)</li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <h2>Software</h2>
          <ul>
            <li class="list-unstyled">
              <h3>Languages / Frameworks: </h3>
              <ul>
                <li>C / C++, C#, Java, Javascript (jQuery, NodeJS, ReactJS), <br/>PHP (Symfony2, Laravel, Kohana), Python, Ruby (Rails)</li>
              </ul>
            </li>
            <li class="list-unstyled">
              <h3>Version Control: </h3>
              <ul>
                <li>Git, SVN</li>
              </ul>
            </li>
            <li class="list-unstyled">
              <h3>Tools: </h3>
              <ul>
                <li>Apache Maven, Bower, Bundler, Browserify, Composer, Grunt, Jenkins, NPM, Rake, TravisCI, webpack</li>
              </ul>
            </li>
            <li class="list-unstyled">
              <h3>Database: </h3>
              <ul>
                <li>MySQL, SQLite</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>