<div class="jumbotron">
  <div class="container">
    <h1 class="text-center">Hello, world!</h1>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras auctor tempor justo. Integer vulputate ipsum tortor, nec lacinia dolor condimentum vitae. Aliquam erat volutpat. Proin molestie lectus nec eros euismod mattis.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras auctor tempor justo. Integer vulputate ipsum tortor, nec lacinia dolor condimentum vitae. Aliquam erat volutpat. Proin molestie lectus nec eros euismod mattis.</p>
      <p>Praesent lobortis tincidunt urna in malesuada. Nunc pellentesque ipsum arcu, nec dictum metus imperdiet eget. Ut porta arcu in arcu ultricies scelerisque. Aenean mollis elit vitae lacus aliquam, quis sodales metus ullamcorper. Nam sem nunc, tincidunt vel nulla nec, aliquam condimentum sem. Aliquam pellentesque metus sed justo consequat bibendum. In nisl ex, sollicitudin ac maximus vel, suscipit at turpis.</p>
      <p>Morbi viverra condimentum dui at scelerisque. Cras dui purus, scelerisque id venenatis nec, aliquet ut nisi. Morbi diam augue, pellentesque id euismod in, gravida in tortor. Duis id tristique sem. Quisque non mauris lorem. Nam vestibulum tristique imperdiet. In hac habitasse platea dictumst. Nulla condimentum vehicula eros, eu finibus nisl scelerisque vitae. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur in nibh faucibus, pretium purus eget, aliquam lacus. Vestibulum sit amet erat mattis, tempor nisl non, imperdiet ex. Etiam mollis urna fermentum mauris dictum feugiat. Nunc fermentum auctor ligula, mattis hendrerit elit sodales eget. Nulla cursus scelerisque ultrices. Quisque tincidunt at elit ut vehicula.</p>
      <p>In urna justo, vehicula non aliquet id, feugiat sit amet sem. Maecenas ullamcorper, purus a semper lacinia, nibh libero consectetur tellus, vitae varius diam libero tristique nisi. Nulla a volutpat enim, sit amet porttitor justo. Vestibulum malesuada lorem in dui euismod, non aliquam neque posuere. Integer dui augue, imperdiet id interdum sed, dapibus in arcu. Quisque vel sapien eget ipsum eleifend ornare id id dui. Ut tincidunt interdum justo, ut pellentesque ex varius ut. Duis ac massa nisi. In at auctor velit, molestie vulputate ante. Proin sit amet accumsan urna. Nullam eget ex ac augue faucibus sodales.</p>
      <p>
        <code>asdasdasd</code>
      </p>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
