<% provide(:title, 'Home') %>
<div class="jumbotron">
  <div class="container">
    <h1 class="text-center">Developer</h1>
    <ul class="list-inline text-center">
      <li>Computer Programmer</li>|
      <li>Embedded Systems Tinkerer</li>|
      <li>Security Expert Wannabe</li>|
      <li>Part-time Open Source Advocate</li>|
      <li> Full-time Nerd</li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h3 class="text-center">Hello internet stranger! Welcome to my humble abode on the internet!</h3><br/>

      <p>I'm LA, a humble Software Developer / Embedded Systems hobbyist trying to keep up with the intense evolution of the world's technology stack. I'm currently a Full-stack PHP developer for <a href="https://express.yilinker.com/">Yilinker Express</a>, a courier delivery platform under the <a href="https://www.yilinker.com/">Yilinker</a> company umbrella where I'm part of the core development team tasked on designing and implementing the ever-changing requirements and features of the platform.</p>

      <p>I'm a graduate of <a href="http://www.dlsu.edu.ph/">De La Salle University - Manila</a> with a Bachelor's Degree in Computer Engineering. With my iron-clad perserverance and a dash of luck, I was able to graduate with distinction (<a href="https://en.wikipedia.org/wiki/Latin_honors">cum laude</a>) under the <a href="http://www.dlsu.edu.ph/scholarships/guidelines.asp">St. La Salle Scholarship</a> with 100% coverage (I technically studied for free). Along with my collaborators, I was also a recipient of <em>Most Outstanding Undergraduate Thesis Award</em> for our paper entitled <em>Implementation of Speed and Torque Control on Quadrotor Altitude and Attitude Stability</em> which was published on <a href="http://www.ejournals.ph/index.php?journal=MJS&page=article&op=view&path%5B%5D=8069">The Manila Journal of Science</a> and the <a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?tp&arnumber=7064345&queryText%3Dmagsino">13<sup>th</sup> International Conference on Control Automation Robotics and Vision (ICARCV)</a>.</p>

      <p>On my spare time, I like to lurk on <a href="https://reddit.com">Reddit</a> and post dank memes, play DnD 5e with a poorly role-played Wood-Elf Ranger, bunny hop (and fail miserably) my way around Dust_2 in CS:GO and discover something new everyday whether it be a TIL type of trivia or a new programming language. I am eternally curious about the masterful art of programming and how I would be a more effective developer than I was yesterday. I'm always on the hunt in improving my skills, integrating all sorts of technology stacks under my belt, sort of a Jack-of-all-Trades kind of guy.</p>

      <p>Have a project in mind? Need an extra pair of hands on your repo? Just drop me a line and let's see what we can do together!</p>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
