<footer class="footer">
  <div class="container">
    <p class="text-muted text-center">Site Content &copy; <%=Time.now.year%> LA Roberto 
        <strong>·</strong> 
        <a href="https://github.com/teh-username/ninja-corgi">Source Code</a> licensed under <a href="https://github.com/teh-username/ninja-corgi/blob/master/LICENSE">MIT</a>.
    </p>

    <ul class="list-inline text-center">
        <li><a href="https://github.com/teh-username"><i class="fa fa-github fa-2x"></i></a></li>
        <li><a href="https://bitbucket.org/tehusername/"><i class="fa fa-bitbucket fa-2x"></i></a></li>
        <li><a href="https://ph.linkedin.com/in/laroberto"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
    </ul>
  </div>
</footer>
