<footer class="footer">
  <div class="container">
    <p class="text-muted text-center">Site Content &copy; <%=Time.now.year%> LA Roberto <strong>·</strong> <a href="https://github.com/teh-username/ninja-corgi">Github</a></p>
  </div>
</footer>
